.cover__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  max-width: 360px;
  max-height: 66px;
  margin: 0;
}

@media all and (min-width: 320px) and (max-width: 767px) {
  .cover__subtitle {
    font-size: 16px;
    line-height: 1.14;
    min-width: 288px;
  }
}