.place__website-link {
  color: #fff;
  grid-area: url;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-decoration: underline;
  transition: opacity 1s;
}

.place__website-link:hover {
  opacity: 0.6;
}