.intro {
  margin-top: 92px;
  padding-left: 148px;
  max-width: 690px;
  min-height: 429px;
}

@media screen and (max-width: 1279px) {
  .intro {
    padding-left: calc(48px + (148 - 48) * ((100vw - 1024px)) / (1280 - 1024));
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    padding-left: calc(24px + (48 - 24) * ((100vw - 768px)) / (1024 - 768));
    max-width: 720px;
    margin-top: 88px;
  }
}

@media all and (min-width: 320px) and (max-width: 767px) {
  .intro {
    max-height: 754px;
    width: calc(100% - 2*16px);
    min-width: 288px;
    padding-left: 0;
    margin: 64px auto 0 auto;
  }
}