.place__website {
  max-height: 152px;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  width: 100%;
  max-width: 456px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .place__website {
    width: calc(100% - (2*12px));
    max-width: 288px;
    margin-left: 12px;
  }
}